@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Quicksand');

div {
  padding: 7em;
  width: 20%;
  background-color: #c2d3ef;
  margin: 1em;
}

#Recent, #Projects{
  display: flex;
}

/* Body */

body{
  margin: auto;
  font-family: 'Muli', sans-serif;
}

/* Navigation */
nav{
  background-color: #254c70;
  text-align: right;
  padding: 0.75em 0.5em 0.75em 0.5em;
  font-size: 30px;
}

a{
  color: #FFF;
  text-decoration: none;
  padding: 0.75em;
}

ul{
  display: inline;
  list-style-type: none;
}

ul li {
  display: inline;
}

#home{
  background-color: #8face5;
}

#hoverLine{
  width: 100%;
  margin: 0;
  background-color: #8face5;
  padding: 0.5em;
}

/* Home Page */
main{
  padding-left: 3em;
}

#introSection{
  background-color: #bdd0ef;
  padding: 10em 1em 10em 1em;
  position: fixed;
  margin-top: -1em;
  z-index: -1000;

}
#introduction {
  width: 30%;
}
main, #Recent{
  display: flex;
}

#homeLogo{
  margin-top: 1.5em;
  width: 100%;
}

section div{
  margin-right: 5em;
}
