@import url('https://fonts.googleapis.com/css?family=Muli:300,400|Quicksand:600');

/****************** Mobile Version ********************/
nav, main {
  display: none;
}

body {
  margin: auto;
  font-family: "Muli";
  background-color: #b8cff1;
}

h1, h2, h3, p{
  color: #fff;
}

/* Logo header */

#top1{
  width: 100%;
  background-color: #164c73;
  padding-bottom: 3em;
}

#top2{
  background-color: #88abe9;
  padding-bottom: 1em;
}

#mobileFlex{
  display: flex;
}

#mobileLogo{
  margin: 1em 0.8em 1em 0.8em;
}

h1{
  margin-top: 1.5em;
  font-family: "Quicksand";
  font-size: 36px;
  padding-right: 0.5em;
}

/* Introduction */

#mobileIntro{
  background-color: #8eb1de;
  padding: 0.25em;
}

#mobileIntro section{
  display: flex;
}

h2{
  font-size: 18.5px;
  padding-left: 1em;
  margin-top: 0.5em;
}

h3{
  font-weight: 300;
  font-size: 17px;
  margin: -0.45em 0 0.75em 0.1em;
}

#location{
  margin-left: -0.25em;
  width: 102.25%;
  border-bottom: 20px solid #b8cff1;
}

#location img{
  margin: -0.5em 0 0 1.25em;
}

#mobileIntro p{
  padding-left: 1em;
  line-height: 1.4em;
}

a{
  text-decoration: none;
  color: #aaebf2;
}

#mobileLinks h2{
  font-size:40px;
  padding-left: 2.4em;
  margin-bottom: 0.5em;
}

#mobileLinks img{
    padding-left: 5.6em;
}

/* ------ */
/* div {
  padding: 7em;
  width: 20%;
  background-color: #c2d3ef;
  margin: 1em;
} */
